# Core API
fastapi
uvicorn[standard]

# DB + ORM
sqlalchemy>=2.0
alembic
psycopg2-binary   # OU asyncpg, escolha um

# Auth / Crypto
pyjwt
cryptography
passlib
jwcrypto
bcrypt

# Config
pydantic
pydantic-settings
PyYAML

# Infra / Middleware
celery
redis
fastapi-limiter
prometheus-fastapi-instrumentator

# Utils / Extras
httpx
jsonschema
openai
loguru

# Dev / Test
pytest
black
ruff
