# Configurações da Infraestrutura Base

# Timezone
TZ=America/Sao_Paulo

# Domínios
DOMAIN=odontoapi.com
TRAEFIK_DOMAIN=traefik.odontoapi.com
PORTAINER_DOMAIN=portainer.odontoapi.com

# Certificados SSL
ACME_EMAIL=admin@odontoapi.com

# Logs
LOG_LEVEL=INFO